<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(@product.image_url, class: "img-fluid") %>
      </div>
      <div class="col-md-5 show_product_information">
        <p>
          <%= @product.name %>
        </p>
        <p>
          <strong>$ <%= @product.price %> </strong>
        </p>
        <p>
          <%= @product.description %>
        </p>
        <p>
          <button type="button" class="btn btn-warning btn-lg">Add to Card</button>
        </p>
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-3 reviews">
        <%= render "new_comment" %>
        <%= render 'comments' %>
        
        <%= will_paginate @comments %>
        
      </div>
    </div>
</div>


<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>
